<%- include('layout/head.ejs') %>

</head>
<body>
    <div>
          <%- include('layout/nav.ejs') %>
    </div>

<!-- CANVA section start -->
<div class="canva-container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="canva-embed" style="position: relative; width: 100%; height: 0; padding-top: 70%; /* Adjust aspect ratio */ overflow: hidden; border-radius: 8px; box-shadow: 0 2px 8px rgba(63, 69, 81, 0.16);">
      <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none;" src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGGa2yCOcU&#x2F;ob1E7OdJY-BiJ4dOxt501g&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen"></iframe>
    </div>
    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGGa2yCOcU&#x2F;ob1E7OdJY-BiJ4dOxt501g&#x2F;view?utm_content=DAGGa2yCOcU&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener" style="display: block; text-align: center; margin-top: 10px; color: #007bff; font-weight: bold;">פנתרון מאי</a>
  </div>
  <!-- CANVA section end -->
  
  <%- include('layout/end.ejs') %>
</body>
</html>
