<%- include('layout/head.ejs') %>
    
<link href="/css/SSGalleryMain.css" rel="stylesheet" />
</head>
<body>
    <div>
        <%- include('layout/nav.ejs') %>
    </div>

    <div class="gallery" id="hbdc">
        <div class="gallery-grid">
            <div class="gallery-item">
                <h1>תצוגת תכלית</h1>
                <div class="image-container">
                    <div class="gallery-preview">
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                    </div>
                    <a href="/gallery/galleries/#resc">
                        <img src="\img\aimonHilos\image1.jpg" alt="Picture 1">
                        <div class="image-details">
                            <span class="image-count">15+ תמונות</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="gallery-item">
                <h1>פורים</h1>
                <div class="image-container">
                    <div class="gallery-preview">
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                    </div>
                    <a href="/gallery/galleries/#puri">
                        <img src="\img\Purim\image1.jpg" alt="Picture 2">
                        <div class="image-details">
                            <span class="image-count">20+ תמונות</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="gallery-item">
                <h1>סתם תמונות</h1>
                <div class="image-container">
                    <div class="gallery-preview">
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                    </div>
                    <a href="/gallery/galleries/#rand">
                        <img src="\img\Pictures\image1.jpg" alt="Picture 3">
                        <div class="image-details">
                            <span class="image-count">12+ תמונות</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="gallery-item">
                <h1>ערבי מחלקה</h1>
                <div class="image-container">
                    <div class="gallery-preview">
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                    </div>
                    <a href="/gallery/galleries/#erev">
                        <img src="\img\erveMahlka\image1.jpg" alt="Picture 3">
                        <div class="image-details">
                            <span class="image-count">25+ תמונות</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="gallery-item">
                <h1>ישיבות סמלים</h1>
                <div class="image-container">
                    <div class="gallery-preview">
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                        <span class="preview-dot"></span>
                    </div>
                    <a href="/gallery/galleries/#sama">
                        <img src="\img\samalim\image1.jpg" alt="Picture 3">
                        <div class="image-details">
                            <span class="image-count">18+ תמונות</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <%- include('layout/end.ejs') %>
</body>
</html>