<%- include('layout/head.ejs') %>
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css3/style.css">


</head>
<!----------------------------------------------------------------------------------------------------------------------------->
<body>
  <div class="header_section">
    <div class="container-fluid">
      <%- include('layout/nav.ejs') %>
    </div>
    <!-- banner section start ---------------------------------------------------------------------------------------------------->
      <div class="banner_section layout_padding"  dir="rtl">
        <div class="container">
          <div id="banner_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-6">
                    <div class="banner_img"><img src="\img\home\main_slide\panterhead2.png"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="banner_taital_main">
                      <h1 class="banner_taital">ברוכים הבאים!</h1>
                      <h5 class="tasty_text">החכם יוצר החזק מאלתר טנ"א פנתר</h5>

                      <div class="btn_main">
                        <div class="about_bt"><a href="/canva">לפנתרון לחצו</a></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-6">
                    <div class="banner_img"><img src="/img/gun1.png"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="banner_taital_main">
                      <h1 class="banner_taital">נשקים</h1>
                      <h5 class="tasty_text">בואו גלו איך עובד הנשק</h5>

                      <div class="btn_main">
                        <div class="about_bt"><a href="/weapons">בואו לגלות</a></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-6">
                    <div class="banner_img"><img src="/img/pic1.png"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="banner_taital_main">
                      <h1 class="banner_taital">רכבים</h1>
                      <h5 class="tasty_text">חלמתם פעם לדעת על רכבים צבאיים? </h5>


                      <div class="btn_main">
                        <div class="about_bt"><a href="/weapons">בואו לגלות</a></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-6">
                    <div class="banner_img"><img src="/img/scope5.png"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="banner_taital_main">
                      <h1 class="banner_taital">אופטיקה</h1>
                      <h5 class="tasty_text">אתם יודעים איך הכוונת עובדת?</h5>

                      <div class="btn_main">
                        <div class="about_bt"><a href="/optics">בואו לגלות</a></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
              <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    <!-- banner section end ----------------------------------------------------------------------------------------------------------------------->
  </div>
    <!-- slide section start ----------------------------------------------------------------------------------------------------------------------------->
    <div class="coffee_section layout_padding" dir="rtl">
      <div class="container">
        <div class="row">
            <h1 class="coffee_taital">מה אפשר למצוא אצלנו?</h1>
            <div class="bulit_icon"><img src="img/bulit-icon.png"></div>
        </div>
      </div>
      <div class="coffee_section_2">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                          <div class="coffee_img"><img src="img\home\banners_slide\naknash.png"></div>
                          <h3 class="types_text">איך לנקנש נשק</h3>
                          <div class="read_bt"><a href="#">לחצו לגלות</a></div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                          <div class="coffee_img"><img src="img\home\banners_slide\greenaxe.png"></div>
                          <h3 class="types_text">מה זה גרזן ירוק</h3>
                          <div class="read_bt"><a href="#">לחצו לגלות</a></div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                          <div class="coffee_img"><img src="img\home\banners_slide\drone.png"></div>
                          <h3 class="types_text">איך לתפעל רחפן</h3>
                          <div class="read_bt"><a href="#">לחצו לגלות</a></div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                          <div class="coffee_img"><img src="img\home\banners_slide\car.png"></div>
                          <h3 class="types_text">איזה רכבים יש לטנא</h3>
                          <div class="read_bt"><a href="\cars\#our_cars">לחצו לגלות</a></div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                          <div class="coffee_img"><img src="img\home\banners_slide\flattire.png"></div>
                          <h3 class="types_text">מה לעשות כשיש פנצ'ר</h3>
                          <div class="read_bt"><a href="#">לחצו לגלות</a></div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                          <div class="coffee_img"><img src="img\home\banners_slide\cam.png"></div>
                          <h3 class="types_text">איך עובדת מצלמת צייד</h3>
                          <div class="read_bt"><a href="#">לחצו לגלות</a></div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                          <div class="coffee_img"><img src="img\home\banners_slide\ongun.png"></div>
                          <h3 class="types_text">שיפצורים חוקיים על הנשק</h3>
                          <div class="read_bt"><a href="#">לחצו לגלות</a></div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                          <div class="coffee_img"><img src="img\home\banners_slide\smartshooter.png"></div>
                          <h3 class="types_text">איך הפיגיון מזהה מטרות</h3>
                          <div class="read_bt"><a href="#">לחצו לגלות</a></div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>
            </a>
        </div>
      </div>
  </div>
  <!-- about section end ------------------------------------------------------------------------------------------------------------------------------------->
  
  <!-- client section start ----------------------------------------------------------------------------------------------------------------------------------------------->
  <div class="client_section layout_padding" dir="rtl">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="about_taital"> מה אומרים עלינו</h1>
          <div class="bulit_icon"><img src="/img/bulit-icon.png"></div>
        </div>
      </div>
      <div class="client_section_2">
        <div class="client_taital_main">
          <div class="client_left">
            <div class="client_img"><img src="img/home/Artem.jpeg"></div>
          </div>
          <div class="client_right">
            <h3 class="moark_text">סמל פלוגה א </h3>
            <p class="client_text">טנא נותנים שירות מהלב , כל הזמן דואגים ומרגישים במחלקה כמו בבית, ממליץ בחום והאתר פשוט נפלא! </p>
          </div>
        </div>
        <div class="client_taital_main">
          <div class="client_left">
            <div class="client_img"><img src="img/home/Artem.jpeg"></div>
          </div>
          <div class="client_right">
            <h3 class="moark_text">סמגד</h3>
            <p class="client_text">טנא נותנים שירות מהלב , כל הזמן דואגים ומרגישים במחלקה כמו בבית, ממליץ בחום והאתר פשוט נפלא! </p>
          </div>
        </div>
        <div class="client_taital_main">
          <div class="client_left">
            <div class="client_img"><img src="img/home/Artem.jpeg"></div>
          </div>
          <div class="client_right">
            <h3 class="moark_text"> ליאן </h3>
            <p class="client_text">טנא נותנים שירות מהלב , כל הזמן דואגים ומרגישים במחלקה כמו בבית, ממליץ בחום והאתר פשוט נפלא! </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- client section end -------------------------------------------------------------------------------------------------------------------------->
  <!-- blog section start -->
  <div class="blog_section layout_padding" dir="rtl">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="about_taital">הבלוג שלנו</h1>
          <div class="bulit_icon"><img src="/img/bulit-icon.png"></div>
        </div>
      </div>
      <div class="blog_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="blog_box">
              <div class="blog_img"><img src="/img/crew.jpeg"></div>
              <h4 class="date_text">15/3</h4>
              <h4 class="prep_text">טנא פנתר ניצחו בתחרות חטיבה</h4>
              <p class="lorem_text">כאן תוכלו לראות אותו מנצח עם שאר חבריו את המלחמה בלב בלבלבב בלב בלבל</p>
            </div>
            <div class="read_bt"><a href="#">לחצו</a></div>
          </div>
          <div class="col-md-6">
            <div class="blog_box">
              <div class="blog_img"><img src="/img/crew2.jpeg"></div>
              <h4 class="date_text">22/4</h4>
              <h4 class="prep_text">שקד</h4>
              <p class="lorem_text">כאן תוכלו לראות אותו מנצח עם שאר חבריו את המלחמה בלב בלבלבב בלב בלבל</p>
            </div>
            <div class="read_bt"><a href="#">לחצו</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- blog section end ---------------------------------------------------------------------------------------------------------------------------------->
 <!-- contact section start -------------------------------------------------------------------------------------------------------------------------->
 <div class="contact_section layout_padding" dir="rtl">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h1 class="contact_taital">צור קשר</h1>
              <div class="bulit_icon"><img src="/img/bulit-icon.png"></div>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="contact_section_2">
          <div class="row">
              <div class="col-md-12">
                  <form action="/contact" method="POST" class="mail_section_1">
                      <input type="text" class="mail_text" placeholder="השם שלך" name="name" required>
                      <input type="email" class="mail_text" placeholder="המייל שלך" name="email" required>
                      <input type="text" class="mail_text" placeholder="(לא חובה אבל מומלץ)הטלפון שלך" name="phone">
                      <textarea class="massage-bt" placeholder="הודעה" rows="5" name="message" required></textarea>
                      <div class="send_bt"><button type="submit">שליחה</button></div>
                  </form>
              </div>
              <h1 class="contact_taital">המיקום שלנו</h1>
              <div class="map_main">
                  <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2090.375521235006!2d35.00101858071249!3d32.19740711285352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d3b7c66bbec9b%3A0x3601fa1bf4439241!2sMutsav%20Tsofim%201!5e1!3m2!1sen!2sil!4v1712587477451!5m2!1sen!2sil" width="250" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- contact section end ------------------------------------------------------------------------------------------------------------------------------------>
  <%- include('layout/end.ejs') %>


  <!-- sidebar -->
  <script src="/assets/js2/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/assets/js2/custom.js"></script>
</body>

</html>