<!-- Copyright section start -->
<div class="copyright_section">
   <div class="container">
       <div class="row">
           <div class="col-lg-6 col-sm-12">
               <p class="copyright_text">
                   <a href="https://www.instagram.com/artem_k_04/">
                       © 2024 טנ"א פנתר | פיתוח ועיצוב האתר: ארטיום חג'י
                   </a>
               </p>
           </div>
           <div class="col-lg-6 col-sm-12">
               <div class="footer_social_icon">
                   <ul>
                       <li>
                           <a href="https://www.tiktok.com/tag/panther?lang=en" title="Follow us on TikTok">
                               <i class="fa fa-tiktok" aria-hidden="true"></i>
                           </a>
                       </li>
                       <li>
                           <a href="https://www.instagram.com/tene_panter/" title="Follow us on Instagram">
                               <i class="fa fa-instagram" aria-hidden="true"></i>
                           </a>
                       </li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- Copyright section end -->

<!-- JavaScript files -->
<script src="/assets/js2/jquery.min.js"></script>
<script src="/assets/js2/popper.min.js"></script>
<script src="/assets/js2/bootstrap.min.js"></script>
<script src="/assets/js2/jquery.mCustomScrollbar.concat.min.js"></script>
