<!DOCTYPE html>
<html lang="he" dir="rtl">
<!-- NOTE : head tag is not closed since we sometimes want to add more custom links, close the head in the main page -->

<head>
   <!-- basic html modal -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!--dynamic page title-->
   <title>
      <%= pageTitle %>
   </title>
   <!-- site metas -->
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
  <!-- bootstrap css (build in from css modals)-->
<link rel="stylesheet" type="text/css" href="/css3/bootstrap.css">
<!-- for unique icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- For favicon png (logo on top near page title) -->
<link rel="shortcut icon" type="image/icon" href="/img/panter2.png" />
<!-- Responsive (helps with adjusting the site for all kind of devices) -->
<link rel="stylesheet" href="/css3/responsive.css">

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

<!-- Font CSS -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="/css3/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- Navbar and Footer CSS -->
<link rel="stylesheet" href="/css/navEnd.css">

<!-- More links -->
<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet" />

<!-- Additional Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
